*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

header {
    background-color: rgb(107, 150, 136);
    height: 100px; 
    display: flex;
    align-items: center;
    color: aliceblue;
}

header .list-items {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;   
    align-items: center;
}

.list-items li a {
    color: antiquewhite;
}

header .menu {
    justify-content: space-between;
}

.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao {
    min-height: 200px;
}

.texto-apresentacao h1 {
    color: rgb(107, 150, 136);
    font-size: 50px;
    margin-bottom: 10px;
}
.texto-apresentacao p {
    color: #08368b;
}

.texto-apresentacao a{
    background-color: #122A57;
    color: #ffff;
    text-align: center;
    border-radius: 20px;
    width: 180px;
    height: 50px;
    display: block;
    margin: 10px;
    text-decoration: none;
    line-height: 50px;
}

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2 {
    font-size: 32px;
    color: #122A57;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before {
    content: "";
    height: 45px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;
}    

#quem-somos p {
    margin-bottom: 10px;
    width: 90%;
}